doctype html
html
	head
		title #{title} - My Site
		link(rel='stylesheet',href='stylesheets/style.css')
	body
		header
			h1	My Site
		.container
			block content
		.sidebar
			block sidebar
		footer
			Runnin on Node,Express,Jade and Stylus