<<<<<<< HEAD
include ./mixins/navbar.jade
include ./mixins/panel_note.jade
include ./mixins/panel_note_select.jade
include ./mixins/display_note.jade

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		title #{title}
		script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet',type='text/css',href='/stylesheets/notes.css')
		link(rel='stylesheet',type='text/css',href='/stylesheets/login.css')
		script(type='text/javascript',src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->	
	body
		nav.navbar.navbar-default.navbar-justified(role='navigation')
			block nav
		.container
			block content