.mainbox

	&
		margin-top 50px
		
	.forgot-pwd
		float right
		font-size 80%
		position relative
		top -10px
	
	.panel-body
		padding-top 30px
		
	.login-alert
		display none
		
	.align-checkbox
		margin-left 15px	
	
	.margin-25
		margin-bottom 25px		

	.margin-10
		margin-top 10px
		
	.signup-link
		border-top 1px solid#888
		padding-top 15px
		font-size 85%		

#signupbox
	
	&
		margin-top 50px	
	
	.signin-div
		float right
		font-size 85%
		position relative
		top -15px
		
	
