@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("http://fonts.googleapis.com/css?family=Open Sans");
.row {
  height: 100%;
  width: 100%;
}
.col-md-9 {
  height: 100%;
}
article {
  height: 100%;
  width: 100%;
}
textarea.form-control {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-heading {
  font-family: 'Raleway';
}
.panel-body {
  font-family: 'Ubuntu';
}
header {
  margin-left: 36px;
}
header h1 {
  margin-top: 0px;
}
.mypanel {
  width: 100%;
  height: 100%;
}
.mypanel.panel-body {
  width: 100%;
  height: 100%;
}
