mixin panel_note(note,btnText,noEdit)
	.panel.panel-primary.mypanel&attributes({"data-identifier":note._id})
		.panel-heading
			span#create-title=	note.title	
			.btn-group.btn-group-sm.pull-right
				button.btn.btn-success#save-note!=	btnText 
		.panel-body
			if noEdit
				p= note.content
			else
				textArea(rows='50').form-control#create-note=	note.content	

